*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    padding: 0 10px;
}

.wrapper{
    max-width: 500px;
    width: 100%;
    background: #fff;
    margin: 20px auto;
    padding: 30px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.125);
}

.wrapper .title{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
    color: #000000;
    text-transform: uppercase;
    text-align: center;
}
.wrapper .form{
    width: 100%;  
}
.wrapper .form .inputfield{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}
.wrapper .form .inputfield label{
    width: 200px;
    color: #000000;
    margin-right: 10px;
    font-size: 14px;
}

.wrapper .form .inputfield .input{
    width: 100%;
    outline: none;
    border: 1px solid #d5dbd9;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 3px;
    transition: all 0.3s ease ;
}
.wrapper .form .inputfield .customselect{
    position: relative;
    width: 100%;
    height: 37px;

}

.wrapper .form .inputfield .customselect select{
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid #d5dbd9;
    width: 100%;
    height: 100%;
    padding: 8px 10px;
    border-radius: 3px;
    outline: none;

}

.wrapper .form .inputfield .customselect::before{
    content: "";
    position: absolute;
    top: 12px;
    right: 10px;
    border: 8px solid;
    border-color: black transparent transparent transparent ;
    pointer-events: none;



}

.wrapper .form .inputfield .input:focus
.wrapper .form .inputfield select:focus{
    border: 1px solid #000000;
}


.wrapper .form .inputfield p{
    font-size: 14px;
    color: #757575;
    
}

.wrapper .form .inputfield .check{
    width: 15px;
    height: 15px;
    position: relative;
    display: block;
    cursor: pointer;
}

.wrapper .form .inputfield .check input[type="checkbox"]{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}


.wrapper .form .inputfield .check .checkmark{
    width: 15px;
    height: 15px;
    border: 1px solid #000000;
    display: block;
    position: relative;
    
}

.wrapper .form .inputfield .check .checkmark::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 2px;
    border: 2px solid;
    border-color: transparent transparent #fff #fff;
    transform: rotate(-45deg);
    display: none;
}

.wrapper .form .inputfield .check input[type="checkbox"]:checked ~ .checkmark{
    background: #000000;
}

.wrapper .form .inputfield .check input[type="checkbox"]:checked ~ 
.checkmark::before{
    display: block;
}

.wrapper .form .inputfield .btn{
    width: 100%;
    padding: 8px 10px;
    font-size: 15px;
    border: 0;
    background: #000000;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
    outline: none;
    text-decoration: none;
}

.wrapper .form .inputfield:last-child{
    margin-bottom: 0;

}
.wrapper .form .inputfield .btn:hover{
    background: #000000;
}
.wrapper .form .inputfield a{
    width: 100%;
    padding: 4px 6px;
    font-size: 15px;
    border: 0;
    background: #ff0000;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
    outline: none;
    text-decoration: none;
}

table{
    border-collapse: collapse;
    width: 70%;
    margin: 50px auto;
    background-color: black;
 
}
table, th, td {
    border:3px solid black;
}
th{
    font-size: 25px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    color: #00b8e6;
}
td{
    font-size: 20px;
    color: #00b8e6;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}

.container1{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

.navbar{
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 60px;
    background: rgba(0, 0, 0, 0.7);
}

.navbar ul{
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
}

.navbar ul li{
    margin: 0 1rem;
    padding: 1rem;
}

.navbar ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: #f4f4f4;

}


.navbar ul li a:hover{
    color: blue;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    scroll-snap-align: center;
}

section h1{
    font-size: 4rem;

}

section p{
    font-size: 1.5rem;
}

section#home{
    background: url(HOME.jpg) no-repeat center center/ cover;
    color: black;
}

section#register{
    background: url(INFO.jpg) no-repeat center center/ cover;
    color: #fec107;
}

section#result{
    background: url(BOOK.jpg) no-repeat center center/ cover;
    color: whitesmoke;
}